.user-input {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative
}

.submit-button {
    margin-top: 25px;
    margin-left: 20px;
}


input, input:focus {
    color: white;
}